<!DOCTYPE html>
<html>
 <head>
   <title>Hero Squad</title>
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/pulse/bootstrap.min.css">

 </head>
 <body>
   <div class="container">
   <br><h1 class="text-center">Welcome to hero squad<h1><hr>
   </div>
   #parse ( $template )


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

 </body>
</html>